{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Swati Rajwal",
  "url": "https://swati-rajwal.github.io",
  "sameAs": [
    "https://twitter.com/SwatiRajwal",
    "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en",
    "https://orcid.org/0000-0002-3826-5069",
    "https://swati-rajwal.bsky.social",
    "https://labs.childrenshospital.org/swati-rajwal",
    "https://github.com/swati-rajwal",
    "https://pubmed.ncbi.nlm.nih.gov/?term=swati+rajwal",
    "https://www.c2d3.cam.ac.uk/directory/34851/swati-rajwal"
  ],
  "jobTitle": "PhD Student, Computer Science and Informatics",
  "affiliation": {
    "@type": "Organization",
    "name": "Emory University",
    "url": "https://www.emory.edu"
  },
  "alumniOf": [
    {
      "@type": "EducationalOrganization",
      "name": "Netaji Subhas University of Technology (NSUT)",
      "url": "http://www.nsit.ac.in/"
    },
  {
    "@type": "EducationalOrganization",
    "name": "Indira Gandhi Delhi Technical University for Women (IGDTUW)",
    "url": "http://www.igdtuw.ac.in/"
  }
  ],
   "memberOf": [
    {
      "@type": "OrganizationRole",
      "roleName": "Graduate Research Trainee",
      "startDate": "2025-05",
      "endDate": "2025-08",
      "description": "Graduate research trainee in biomedical informatics and NLP, Boston Children’s Hospital (affiliated with Harvard Medical School).",
      "memberOf": {
        "@type": "Organization",
        "name": "Boston Children’s Hospital",
        "url": "https://labs.childrenshospital.org/swati-rajwal"
      }
    },
    {
      "@type": "OrganizationRole",
      "roleName": "Research Assistant",
      "startDate": "2023-01",
      "endDate": "2023-08",
      "description": "Investigated statistical learning in chronic back pain; used Python and RStan.",
      "memberOf": {
        "@type": "Organization",
        "name": "University of Cambridge, Engineering Department",
        "url": "https://www.c2d3.cam.ac.uk/directory/34851/swati-rajwal"
      }
    },
    {
      "@type": "OrganizationRole",
      "roleName": "Associate Software Engineer",
      "startDate": "2018-08",
      "endDate": "2020-09",
      "description": "Smart home integrations, Angular dashboards, manufacturing data solutions.",
      "memberOf": {
        "@type": "Organization",
        "name": "Eaton Corporation",
        "url": "https://www.eaton.com/"
      }
    },
    {
      "@type": "OrganizationRole",
      "roleName": "R&D Senior Analyst Intern",
      "startDate": "2022-02",
      "endDate": "2022-08",
      "description": "Designed mechanisms to measure software frugality (affordability, sustainability).",
      "memberOf": {
        "@type": "Organization",
        "name": "Accenture Tech Lab",
        "url": "https://www.accenture.com/"
      }
    }
  ],
  "knowsAbout": [
    "Natural Language Processing",
    "Machine Learning",
    "Artificial Intelligence",
    "Biomedical Informatics"
  ],
  "knows": [
  {
      "@type": "Person",
      "name": "Prof. Maimuna Majumder",
      "affiliation": {
        "@type": "Organization",
        "name": "Boston Children's Hospital"
      }
    },  
  {
      "@type": "Person",
      "name": "Prof. Eugene Agichtein",
      "affiliation": {
        "@type": "Organization",
        "name": "Emory University"
      }
    },
    {
      "@type": "Person",
      "name": "Prof. Abeed Sarker",
      "affiliation": {
        "@type": "Organization",
        "name": "Emory University"
      }
    },
    {
      "@type": "Person",
      "name": "Dr. Jinho Choi",
      "affiliation": {
        "@type": "Organization",
        "name": "Emory University"
      }
    },
    {
      "@type": "Person",
      "name": "Dr. Flavia Mancini",
      "affiliation": {
        "@type": "Organization",
        "name": "University of Cambridge"
      }
    }
  ],
  "mainEntityOfPage": [
    {
      "@type": "ScholarlyArticle",
      "name": "Unveiling Voices: Identification of Concerns in a Social Media Breast Cancer Cohort via Natural Language Processing",
      "headline": "Unveiling Voices: Identification of Concerns in a Social Media Breast Cancer Cohort via Natural Language Processing",
      "author": [
          {
            "@type": "Person",
            "name": "Swati Rajwal",
            "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en"
          },
          {
            "@type": "Person",
            "name": "Avinash Kumar Pandey",
            "url": "https://www.avinashkumarpandey.com/"
          },
          {
            "@type": "Person",
            "name": "Zhishuo Han",
            "url": "https://goizueta.emory.edu/staff/profiles/zhishuo-han"
          },
        {
            "@type": "Person",
            "name": "Abeed Sarker",
            "url": "https://scholar.google.com/citations?user=ShFx9OAAAAAJ&hl=en"
          }],
      "url": "https://aclanthology.org/2024.cl4health-1.32/",
      "image": "https://swati-rajwal.github.io/images/bc_proj.png"
    },
  {
      "@type": "ScholarlyArticle",
      "name": "Generalizable Natural Language Processing Framework for Migraine Reporting from Social Media",
      "headline": "Generalizable Natural Language Processing Framework for Migraine Reporting from Social Media",
      "author": [
          {
            "@type": "Person",
            "name": "Yuting Guo",
            "url": "https://scholar.google.com/citations?user=fd1nB1IAAAAJ&hl=en&inst=15365353816232672843"
          },
          {
            "@type": "Person",
            "name": "Swati Rajwal",
            "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en&inst=15365353816232672843"
          },
          {
            "@type": "Person",
            "name": "Sahithi Lakamana",
            "url": "https://scholar.google.com/citations?user=YzwN1HUAAAAJ&hl=en&inst=15365353816232672843"
          },
          {
            "@type": "Person",
            "name": "Chia-Chun Chiang",
            "url": "https://scholar.google.com/citations?hl=en&user=xFeLe2EAAAAJ&view_op=list_works&sortby=pubdate&inst=15365353816232672843"
          },
          {
            "@type": "Person",
            "name": "Imon Banerjee",
            "url": "https://scholar.google.com/citations?user=hagJ_W8AAAAJ&inst=15365353816232672843"
          },
        {
            "@type": "Person",
            "name": "Abeed Sarker",
            "url": "https://scholar.google.com/citations?user=ShFx9OAAAAAJ&hl=en"
          }],
      "url": "https://pubmed.ncbi.nlm.nih.gov/37350878/",
      "image": "https://swati-rajwal.github.io/images/proj_migraine.png"
    },
  {
      "@type": "ScholarlyArticle",
      "name": "Do Biased Models Have Biased Thoughts?",
      "headline": "Do Biased Models Have Biased Thoughts?",
      "url": "https://arxiv.org/abs/2508.06671",
      "image": "https://swati-rajwal.github.io/images/2025_COLM.png",
       "author": [
          {
            "@type": "Person",
            "name": "Swati Rajwal",
            "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en"
          },
        {
            "@type": "Person",
            "name": "Abdelrahman Zayed",
            "url": "https://scholar.google.com/citations?hl=en&user=kg5hcO0AAAAJ"
          }]
    },
  {
      "@type": "ScholarlyArticle",
      "name": "EM_Mixers at MEDIQA-CORR 2024: Knowledge-Enhanced Few-Shot In-Context Learning for Medical Error Detection and Correction",
      "headline": "EM_Mixers at MEDIQA-CORR 2024: Knowledge-Enhanced Few-Shot In-Context Learning for Medical Error Detection and Correction",
      "url": "https://aclanthology.org/2024.clinicalnlp-1.56/",
      "image": "https://swati-rajwal.github.io/images/Picture1.png",
      "author": [
              {
                "@type": "Person",
                "name": "Swati Rajwal",
                "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en"
              }]
    },
    {
      "@type": "ScholarlyArticle",
      "name": "Two-Layer Retrieval-Augmented Generation Framework for Low-Resource Medical Question Answering Using Reddit Data: Proof-of-Concept Study",
      "headline": "Two-Layer Retrieval-Augmented Generation Framework for Low-Resource Medical Question Answering Using Reddit Data: Proof-of-Concept Study",
      "url": "https://doi.org/10.2196/66220",
      "image": "https://swati-rajwal.github.io/images/fig1v3.png",
       "author": [
              {
                "@type": "Person",
                "name": "Swati Rajwal",
                "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en"
              }]
    },
    {
      "@type": "ScholarlyArticle",
      "name": "Emerging Trends of Self-Harm Using Sodium Nitrite in an Online Suicide Community: Observational Study Using Natural Language Processing Analysis",
      "headline": "Emerging Trends of Self-Harm Using Sodium Nitrite in an Online Suicide Community: Observational Study Using Natural Language Processing Analysis",
      "url": "https://doi.org/10.2196/53730",
      "image": "https://swati-rajwal.github.io/images/sn_proj.png",
       "author": [
              {
                "@type": "Person",
                "name": "Swati Rajwal",
                "url": "https://scholar.google.com/citations?user=6AfEraYAAAAJ&hl=en"
              }]
    },
    {
      "@type": "ScholarlyArticle",
      "name": "Design of a Chatbot for Four- to Ten-Year-Old Children Based on Emotional Intelligence",
      "headline": "Design of a Chatbot for Four- to Ten-Year-Old Children Based on Emotional Intelligence",
      "url": "https://doi.org/10.1007/978-981-19-2821-5_57",
      "image": "https://swati-rajwal.github.io/images/2022_architecture.jpg",
      "author": [
    {
      "@type": "Person",
      "name": "Swati Rajwal",
      "url": "https://swati-rajwal.github.io/"
    }
  ]
    },
    {
      "@type": "CreativeWork",
      "name": "Connecting with Your Future Professor: A Practical Guide",
      "url": "https://dl.acm.org/doi/fullHtml/10.1145/3729506"
    },
    {
      "@type": "CreativeWork",
      "name": "Bridging Brains and Bytes: A Computer Scientist's Role in Neuroscience",
      "url": "https://www.womeninneuroscienceuk.org/post/bridging-brains-and-bytes-a-computer-scientist-s-role-in-neuroscience"
    },
    {
      "@type": "CreativeWork",
      "name": "The truth about multitasking in humans",
      "url": "https://doi.org/10.1109/MWIE.2022.3155910"
    },
    {
      "@type": "CreativeWork",
      "name": "The do’s & don’ts of writing a research request email",
      "url": "https://dl.acm.org/doi/abs/10.1145/3538535"
    }
  ]
}
</script>


<!-- end custom head snippets -->
